<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="TargetPublicDir" value="D:\PGPKey\new" />
		<add key="TargetPrivateDir" value="D:\PGPKey\new" />
		<add key="TargetUserPassDir" value="D:\PGPKey\new" />
		<add key="applicationid" value="9"/>
	</appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBusinessProcess" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://proteus/wsframework/Mitra10BusinessProcess.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusinessProcess"
                contract="M10BusinessProcess.IBusinessProcess" name="BasicHttpBinding_IBusinessProcess" />
			<metadata>
				<wsdlImporters>
					<extension type="WCFExtrasPlus.Soap.SoapHeaderImporter, WCFExtrasPlus" />
				</wsdlImporters>
			</metadata>
        </client>
    </system.serviceModel>
</configuration>